name: Test

on: [push, pull_request]

jobs:
  variables:
    runs-on: ubuntu-latest
    outputs:
      ref: ${{ steps.variables.outputs.ref }}
      sha: ${{ steps.variables.outputs.sha }}
      sha8: ${{ steps.variables.outputs.sha8 }}
      date: ${{ steps.variables.outputs.date }}
      version: ${{ steps.variables.outputs.version }}
      branch_name: ${{ steps.variables.outputs.branch_name }}
      ghpr_docker_image_fqn: ${{ steps.variables.outputs.ghpr_docker_image_fqn }}
      ghpr_docker_image_tag: ${{ steps.variables.outputs.docker_image_tag }}

    steps:
      - uses: actions/checkout@v2

      - name: Fetch all history for all tags and branches
        run: git fetch --prune --unshallow

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0.9.6
        with:
          versionSpec: "5.x.x"

      - name: GitVersion
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0.9.6

      - name: Generate variables
        id: variables
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: ./.github/scripts/variables.sh ${{ steps.gitversion.outputs.fullSemVer }}

  verify-bash:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: ShellCheck
        uses: bewuethr/shellcheck-action@v2

      - name: Control Character Check
        run: ./.github/scripts/control_character_finder.sh

  docker-build:
    runs-on: ubuntu-latest
    needs: variables

    steps:
      - uses: actions/checkout@v2
      - name: Build Docker Image
        uses: whoan/docker-build-with-cache-action@v5.3.3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          image_name: jekyll-plantuml
          image_tag: ${{ needs.variables.outputs.sha8 }}
          dockerfile: .docker/Dockerfile
          push_image_and_stages: true
          pull_image_and_stages: true
          build_extra_args: --build-arg SHA=${{ needs.variables.outputs.sha }} --build-arg TAG=${{ needs.variables.outputs.sha8 }} --build-arg DATE=${{ needs.variables.outputs.date }} --build-arg VERSION=${{ needs.variables.outputs.version }}

  test-serve:
    runs-on: ubuntu-latest
    needs: [variables, docker-build]

    steps:
      - uses: actions/checkout@v2
      - name: Run Docker Image (serve)
        run: |
          timeout --preserve-status 10m \
          ./.github/scripts/docker_run_test.sh \
            serve \
            --image ${{ needs.variables.outputs.ghpr_docker_image_fqn }} \
            --image-tag ${{ needs.variables.outputs.ghpr_docker_image_tag }} \
            --repository ${{ github.repository }} \
            --dir ${{ github.workspace }}/tests/full \
            --token ${{ secrets.GITHUB_TOKEN }} \
            --verbose

  test-serve-no-gemfile:
    runs-on: ubuntu-latest
    needs: [variables, docker-build]

    steps:
      - uses: actions/checkout@v2
      - name: Run Docker Image (serve, no Gemfile)
        run: |
          timeout --preserve-status 10m \
          ./.github/scripts/docker_run_test.sh \
            serve \
            --image ${{ needs.variables.outputs.ghpr_docker_image_fqn }} \
            --image-tag ${{ needs.variables.outputs.ghpr_docker_image_tag }} \
            --repository ${{ github.repository }} \
            --dir ${{ github.workspace }}/tests/minimal \
            --token ${{ secrets.GITHUB_TOKEN }} \
            --verbose

  test-build:
    runs-on: ubuntu-latest
    needs: [variables, docker-build]

    steps:
      - uses: actions/checkout@v2
      - name: Run Docker Image (build)
        run: |
          ./.github/scripts/docker_run_test.sh \
            build \
            --image ${{ needs.variables.outputs.ghpr_docker_image_fqn }} \
            --image-tag ${{ needs.variables.outputs.ghpr_docker_image_tag }} \
            --repository ${{ github.repository }} \
            --dir ${{ github.workspace }}/tests/full \
            --token ${{ secrets.GITHUB_TOKEN }} \
            --verbose

  test-build-no-gemfile:
    runs-on: ubuntu-latest
    needs: [variables, docker-build]

    steps:
      - uses: actions/checkout@v2
      - name: Run Docker Image (build, no Gemfile)
        run: |
          ./.github/scripts/docker_run_test.sh \
            build \
            --image ${{ needs.variables.outputs.ghpr_docker_image_fqn }} \
            --image-tag ${{ needs.variables.outputs.ghpr_docker_image_tag }} \
            --repository ${{ github.repository }} \
            --dir ${{ github.workspace }}/tests/minimal \
            --token ${{ secrets.GITHUB_TOKEN }} \
            --verbose

  test-build-gemspec:
    runs-on: ubuntu-latest
    needs: [variables, docker-build]

    steps:
      - uses: actions/checkout@v2
      - name: Run Docker Image (build with gemspec)
        run: |
          ./.github/scripts/docker_run_test.sh \
            build \
            --image ${{ needs.variables.outputs.ghpr_docker_image_fqn }} \
            --image-tag ${{ needs.variables.outputs.ghpr_docker_image_tag }} \
            --repository ${{ github.repository }} \
            --dir ${{ github.workspace }}/tests/gemspec \
            --token ${{ secrets.GITHUB_TOKEN }} \
            --verbose

  rspec:
    runs-on: ubuntu-latest
    env:
      working-directory: .docker/entrypoint
    defaults:
      run:
        working-directory: ${{ env.working-directory }}

    steps:
      - uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7

      - uses: actions/cache@v2
        with:
          path: ${{ env.working-directory }}/vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: ${{ runner.os }}-gems-

      - name: Bundle Install
        run: bundle install

      - name: RSpec
        env:
          PAGES_REPO_NWO: ${{ github.repository }}
          JEKYLL_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bundle exec rake

      - name: Codecov Upload
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: bundle exec rake codecov:upload || echo 'Codecov upload failed'

      - name: RuboCop
        run: bundle exec rubocop --fail-level warning --display-only-fail-level-offenses

  verify-output:
    runs-on: ubuntu-latest
    needs: [variables, docker-build]

    steps:
      - uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7

      - uses: actions/cache@v2
        with:
          path: tests/full/vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: ${{ runner.os }}-gems-

      - name: Verify build output
        env:
          IMAGE_FQN: docker.pkg.github.com/swedbankpay/jekyll-plantuml-docker/jekyll-plantuml:${{ needs.variables.outputs.sha8 }}
        run: |
          docker login https://docker.pkg.github.com -u ${{ github.repository_owner }} -p "${{ secrets.GITHUB_TOKEN }}"
          docker pull "${IMAGE_FQN}"
          docker run \
            --volume $(pwd)/tests/full:/srv/jekyll \
            --env JEKYLL_GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} \
            --env PAGES_REPO_NWO=${{ github.repository }} \
            --env DEBUG=true \
            "${IMAGE_FQN}" \
            build \
            --verify \
            --env=production \
            --log-level=debug \
            --ignore-url '%r{[/.]?page1}' \
            --ignore-url http://www.wikipedia.org \
            --ignore-url '%r{https://github.com/SwedbankPay/jekyll-plantuml-docker/tree/master.*}' \
            --ignore-url '%r{/jekyll-plantuml-docker/.*}'

      - name: Verify base URL
        run: grep 'https://swedbankpay.github.io/jekyll-plantuml-docker/' $(pwd)/tests/full/_site/index.html

      - name: Upload build output artifacts
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: build-output-html
          path: tests/full/_site/*.html

  test-deploy:
    runs-on: ubuntu-latest
    needs: [variables, docker-build]

    steps:
      - uses: actions/checkout@v2

      - name: Test Deploy
        env:
          SHA8: ${{ needs.variables.outputs.sha8 }}
          WORK_DIR: ${{ github.workspace }}
          GIT_DEPLOY_DIR: _site
          GIT_DEPLOY_BRANCH: ${{ needs.variables.outputs.branch_name }}
          GIT_DEPLOY_REPO: https://${{ secrets.GH_PAGES_TOKEN }}@github.com/${{ github.repository }}.git
          IMAGE_TAG: ${{ needs.variables.outputs.sha8 }}
          IMAGE_NAME: docker.pkg.github.com/swedbankpay/jekyll-plantuml-docker/jekyll-plantuml
        run: |
          docker login https://docker.pkg.github.com -u ${{ github.repository_owner }} -p "${{ secrets.GITHUB_TOKEN }}"
          docker pull ${IMAGE_NAME}:${IMAGE_TAG}
          docker run \
            --volume ${WORK_DIR}/tests/minimal:/srv/jekyll \
            --env GIT_DEPLOY_DIR="${GIT_DEPLOY_DIR}" \
            --env GIT_DEPLOY_BRANCH="${GIT_DEPLOY_BRANCH}" \
            --env GIT_DEPLOY_REPO="${GIT_DEPLOY_REPO}" \
            --env PAGES_REPO_NWO="${{ github.repository }}" \
            --env JEKYLL_GITHUB_TOKEN="${{ secrets.GITHUB_TOKEN }}" \
            --env DEBUG="true" \
            ${IMAGE_NAME}:${IMAGE_TAG} \
            deploy \
            --env=production \
            --log-level=debug

  cleanup:
    runs-on: ubuntu-latest
    needs: [test-deploy, variables]
    if: always()
    steps:
      - uses: actions/checkout@v2
      - name: Cleanup
        if: always()
        run: .github/scripts/cleanup.sh --branch ${{ needs.variables.outputs.branch_name }} --commit ${{ github.sha }} --remote --verbose
